---
nodes:
    - name: puppetmaster
      box: bento/centos-7.9
      cpus: 2
      environment_path: '../../'
      hiera_config_path: '../../production/hiera.yaml'
      hiera_path: '../../production/data'
      hostname: puppetmaster.xxl.vagrant
      ip: 192.168.56.130
      memory: 4096
      ports:
        - guest: 22
          host: 2730
      synced_folders:
        - src: '../../production'
          dst: '/etc/puppetlabs/code/environments/xxl'
    - name: db
      box: bento/centos-7.9
      hostname: db.xxl.vagrant
      ip: 192.168.56.135
      ports:
        - guest: 22
          host: 2735
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xxl.vagrant
    - name: puppetdb
      box: bento/centos-7.9
      hostname: puppetdb.xxl.vagrant
      ip: 192.168.56.136
      ports:
        - guest: 22
          host: 2736
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xxl.vagrant
    - name: foreman
      box: bento/centos-7.9
      hostname: foreman.xxl.vagrant
      ip: 192.168.56.137
      ports:
        - guest: 22
          host: 2737
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xxl.vagrant
    - name: compile
      aliases: "puppet.xxl.vagrant"
      box: bento/centos-7.9
      hostname: compile.xxl.vagrant
      ip: 192.168.56.139
      ports:
        - guest: 22
          host: 2739
      provision_shell: 'r10k deploy environment -pv'
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xxl.vagrant
    - name: node
      box: bento/centos-7.9
      hostname: node.xxl.vagrant
      ip: 192.168.56.140
      options: '-t --environment production --ca_server puppetmaster.xxl.vagrant'
      ports:
        - guest: 22
          host: 2740
      provision_type: puppet_agent
      puppetmaster: compile.xxl.vagrant
puppet_environment: xxl
virtualbox_group: '/Vagrant/puppetmaster'
