---
nodes:
    - name: puppetmaster
      box: bento/centos-7.3
      cpus: 2
      environment_path: '../../'
      hiera_config_path: '../../production/hiera.yaml'
      hiera_path: '../../production/hieradata'
      hostname: puppetmaster.xl.vagrant
      ip: 192.168.27.130
      memory: 4096
      ports:
        - guest: 22
          host: 2730
      synced_folders:
        - src: '../../production/manifests/'
          dst: '/etc/puppetlabs/code/environments/l/manifests'
        - src: '../../production/modules/'
          dst: '/etc/puppetlabs/code/environments/l/modules'
    - name: db
      box: bento/centos-7.3
      hostname: db.xl.vagrant
      ip: 192.168.27.135
      ports:
        - guest: 22
          host: 2735
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xl.vagrant
    - name: puppetdb
      box: bento/centos-7.3
      hostname: puppetdb.xl.vagrant
      ip: 192.168.27.136
      ports:
        - guest: 22
          host: 2736
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xl.vagrant
    - name: foreman
      box: bento/centos-7.3
      hostname: foreman.xl.vagrant
      ip: 192.168.27.137
      ports:
        - guest: 22
          host: 2737
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xl.vagrant
    - name: activemq
      box: bento/centos-7.3
      hostname: activemq.xl.vagrant
      ip: 192.168.27.138
      ports:
        - guest: 22
          host: 2738
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xl.vagrant
    - name: compile
      aliases: "puppet.xl.vagrant"
      box: bento/centos-7.3
      hostname: compile.xl.vagrant
      ip: 192.168.27.139
      ports:
        - guest: 22
          host: 2739
      provision_shell: 'r10k deploy environment -pv'
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xl.vagrant
    - name: node
      box: bento/centos-7.3
      hostname: node.xl.vagrant
      ip: 192.168.27.140
      ports:
        - guest: 22
          host: 2740
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xl.vagrant
puppet_environment: xl
virtualbox_group: '/Vagrant/puppetmaster'
