[submodule "modules/epel"]
	path = production/modules/epel
	url = git@github.com:stahnma/puppet-module-epel.git
[submodule "modules/ntp"]
	path = production/modules/ntp
	url = git@github.com:puppetlabs/puppetlabs-ntp.git
[submodule "modules/selinux"]
	path = production/modules/selinux
	url = git@github.com:jfryman/puppet-selinux.git
[submodule "modules/firewall"]
	path = production/modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "modules/stdlib"]
	path = production/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/puppet"]
	path = production/modules/puppet
	url = git@github.com:theforeman/puppet-puppet.git
[submodule "modules/apache"]
	path = production/modules/apache
	url = git@github.com:puppetlabs/puppetlabs-apache.git
[submodule "modules/puppetdb"]
	path = production/modules/puppetdb
	url = git@github.com:puppetlabs/puppetlabs-puppetdb.git
[submodule "modules/inifile"]
	path = production/modules/inifile
	url = git@github.com:puppetlabs/puppetlabs-inifile.git
[submodule "modules/postgresql"]
	path = production/modules/postgresql
	url = git@github.com:puppetlabs/puppetlabs-postgresql.git
[submodule "modules/foreman"]
	path = production/modules/foreman
	url = git@github.com:theforeman/puppet-foreman.git
[submodule "modules/foreman_proxy"]
	path = production/modules/foreman_proxy
	url = git@github.com:theforeman/puppet-foreman_proxy.git
[submodule "modules/mcollective"]
	path = production/modules/mcollective
	url = git@github.com:voxpupuli/puppet-mcollective.git
[submodule "modules/datacat"]
	path = production/modules/datacat
	url = git@github.com:richardc/puppet-datacat.git
[submodule "modules/activemq"]
	path = production/modules/activemq
	url = git@github.com:puppetlabs/puppetlabs-activemq.git
[submodule "modules/timezone"]
	path = production/modules/timezone
	url = git@github.com:attachmentgenie/attachmentgenie-timezone.git
[submodule "modules/concat"]
	path = production/modules/concat
	url = git@github.com:puppetlabs/puppetlabs-concat.git
[submodule "modules/r10k"]
	path = production/modules/r10k
	url = git@github.com:voxpupuli/puppet-r10k.git
[submodule "modules/git"]
	path = production/modules/git
	url = git@github.com:puppetlabs/puppetlabs-git.git
[submodule "modules/memcached"]
	path = production/modules/memcached
	url = git@github.com:saz/puppet-memcached.git
[submodule "modules/roles"]
	path = production/modules/roles
	url = git@github.com:attachmentgenie/attachmentgenie-roles.git
[submodule "modules/stacks"]
	path = production/modules/stacks
	url = git@github.com:attachmentgenie/attachmentgenie-stacks.git
[submodule "modules/profiles"]
	path = production/modules/profiles
	url = git@github.com:attachmentgenie/attachmentgenie-profiles.git
[submodule "puppet/modules/extlib"]
	path = production/modules/extlib
	url = git@github.com:voxpupuli/puppet-extlib.git
[submodule "production/modules/dns"]
	path = production/modules/dns
	url = https://github.com/theforeman/puppet-dns.git
[submodule "production/modules/hocon"]
	path = production/modules/hocon
	url = https://github.com/puppetlabs/puppetlabs-hocon.git
[submodule "production/modules/puppet_authorization"]
	path = production/modules/puppet_authorization
	url = https://github.com/puppetlabs/puppetlabs-puppet_authorization.git
