---
nodes:
    - name: puppetmaster
      box: bento/centos-7.8
      cpus: 2
      environment_path: '../../'
      hiera_config_path: '../../production/hiera.yaml'
      hiera_path: '../../production/data'
      hostname: puppetmaster.l.vagrant
      ip: 192.168.25.130
      memory: 4096
      ports:
        - guest: 22
          host: 2530
      synced_folders:
        - src: '../../production'
          dst: '/etc/puppetlabs/code/environments/l'
    - name: compile
      aliases: "puppet.l.vagrant"
      box: bento/centos-7.8
      hostname: compile.l.vagrant
      ip: 192.168.25.139
      ports:
        - guest: 22
          host: 2539
      provision_shell: 'r10k deploy environment -pv'
      provision_type: puppet_agent
      puppetmaster: puppetmaster.l.vagrant
    - name: node
      box: bento/centos-7.8
      hostname: node.l.vagrant
      ip: 192.168.25.140
      options: '-t --environment production --ca_server puppetmaster.l.vagrant'
      ports:
        - guest: 22
          host: 2540
      provision_type: puppet_agent
      puppetmaster: compile.l.vagrant
puppet_environment: l
virtualbox_group: '/Vagrant/puppetmaster'
