---
nodes:
    - name: puppetmaster
      box: bento/centos-7.7
      cpus: 2
      environment_path: '../../'
      hiera_config_path: '../../production/hiera.yaml'
      hiera_path: '../../production/data'
      hostname: puppetmaster.xl.vagrant
      ip: 192.168.26.130
      memory: 4096
      ports:
        - guest: 22
          host: 2630
      synced_folders:
        - src: '../../production'
          dst: '/etc/puppetlabs/code/environments/xl'
    - name: puppetdb
      box: bento/centos-7.7
      hostname: puppetdb.xl.vagrant
      ip: 192.168.26.136
      ports:
        - guest: 22
          host: 2636
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xl.vagrant
    - name: foreman
      box: bento/centos-7.7
      hostname: foreman.xl.vagrant
      ip: 192.168.26.137
      ports:
        - guest: 22
          host: 2637
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xl.vagrant
    - name: activemq
      box: bento/centos-7.7
      hostname: activemq.xl.vagrant
      ip: 192.168.26.138
      ports:
        - guest: 22
          host: 2638
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xl.vagrant
    - name: compile
      aliases: "puppet.xl.vagrant"
      box: bento/centos-7.7
      hostname: compile.xl.vagrant
      ip: 192.168.26.139
      ports:
        - guest: 22
          host: 2639
      provision_shell: 'r10k deploy environment -pv'
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xl.vagrant
    - name: node
      box: bento/centos-7.7
      hostname: node.xl.vagrant
      ip: 192.168.26.140
      options: '-t --environment production --ca_server puppetmaster.xl.vagrant'
      ports:
        - guest: 22
          host: 2640
      provision_type: puppet_agent
      puppetmaster: compile.xl.vagrant
puppet_environment: xl
virtualbox_group: '/Vagrant/puppetmaster'
