---
nodes:
    - name: puppetserver
      box: bento/centos-7.9
      cpus: 2
      environment_path: '../../'
      hiera_config_path: '../../production/hiera.yaml'
      hiera_path: '../../production/data'
      hostname: puppetserver.xl.vagrant
      ip: 192.168.56.130
      memory: 4096
      ports:
        - guest: 22
          host: 2630
      synced_folders:
        - src: '../../production'
          dst: '/etc/puppetlabs/code/environments/xl'
    - name: puppetdb
      box: bento/centos-7.9
      hostname: puppetdb.xl.vagrant
      ip: 192.168.56.136
      ports:
        - guest: 22
          host: 2636
      provision_type: puppet_agent
      puppetserver: puppetserver.xl.vagrant
    - name: foreman
      box: bento/centos-7.9
      hostname: foreman.xl.vagrant
      ip: 192.168.56.137
      ports:
        - guest: 22
          host: 2637
      provision_type: puppet_agent
      puppetserver: puppetserver.xl.vagrant
    - name: compile
      aliases: "puppet.xl.vagrant"
      box: bento/centos-7.9
      hostname: compile.xl.vagrant
      ip: 192.168.56.139
      ports:
        - guest: 22
          host: 2639
      provision_shell: 'g10k deploy environment -pv'
      provision_type: puppet_agent
      puppetserver: puppetserver.xl.vagrant
    - name: node
      box: bento/centos-7.9
      hostname: node.xl.vagrant
      ip: 192.168.56.140
      options: '-t --environment production --ca_server puppetserver.xl.vagrant'
      ports:
        - guest: 22
          host: 2640
      provision_type: puppet_agent
      puppetserver: compile.xl.vagrant
puppet_environment: xl
virtualbox_group: '/Vagrant/puppetserver'
