---
nodes:
    - name: puppetmaster
      box: bento/centos-7.8
      cpus: 2
      environment_path: '../../'
      hiera_config_path: '../../production/hiera.yaml'
      hiera_path: '../../production/data'
      hostname: puppetmaster.s.vagrant
      ip: 192.168.23.130
      memory: 4096
      ports:
        - guest: 22
          host: 2330
      synced_folders:
        - src: '../../production'
          dst: '/etc/puppetlabs/code/environments/s'
    - name: node
      box: bento/centos-7.8
      hostname: node.s.vagrant
      ip: 192.168.23.140
      ports:
        - guest: 22
          host: 2340
      provision_type: puppet_agent
      puppetmaster: puppetmaster.s.vagrant
puppet_environment: s
virtualbox_group: '/Vagrant/puppetmaster'
