---
nodes:
    - name: puppetmaster
      box: bento/centos-7.6
      cpus: 2
      environment_path: '../../'
      hiera_config_path: '../../production/hiera.yaml'
      hiera_path: '../../production/data'
      hostname: puppetmaster.xxs.vagrant
      ip: 192.168.21.130
      memory: 4096
      ports:
        - guest: 22
          host: 2130
      synced_folders:
        - src: '../../production'
          dst: '/etc/puppetlabs/code/environments/xxs'
    - name: node
      box: bento/centos-7.6
      hostname: node.xxs.vagrant
      ip: 192.168.21.140
      ports:
        - guest: 22
          host: 2140
      provision_type: puppet_agent
      puppetmaster: puppetmaster.xxs.vagrant
puppet_environment: xxs
virtualbox_group: '/Vagrant/puppetmaster'
